<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
  <head th:replace="common/header :: common-header"/>
  <body>
    <div class="container">
      <h5 class="center-block">
        歡迎光臨
        PetFriends.
      </h5>
      <hr/><img th:src="@{/imgs/logo.png}" style="width: 250px;" class="img-responsive"/>
      <div class="row">
        <div class="col-xs-4 col-md-offset-4">
          <div th:if="${param.error}" class="bg-danger">錯誤的使用者帳號以及密碼</div>
          <div th:if="${param.logout}" class="bg-danger">你已經登出了</div>
          <form th:action="@{/login}" method="post" class="form-signin">
            <h2 class="form-signin-heading">麻煩請登入</h2>
            <div class="form-group">
              <label for="username" class="sr-only">使用者帳號</label>
              <input id="username" type="text" placeholder="Username" name="username" required="required" autofocus="autofocus" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">使用者密碼</label>
              <input id="password" type="password" placeholder="Password" name="password" required="required" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">登入</button>
          </form>
        </div>
      </div>
    </div>
    <div th:replace="common/header :: body-bottom-scripts"/>
  </body>
</html>