//output:../login.html, doctype:strict
html(lang='en', xmlns:th='http://www.w3.org/1000/xhtml')
  head(th:replace='common/header :: common-header')/
  body
    .container
      h5.center-block
        | 歡迎光臨
        | PetFriends.
      hr
      img.img-responsive(th:src='@{/imgs/logo.png}', style='width: 250px;')
      .row
        .col-xs-4.col-md-offset-4
          .bg-danger(th:if='${param.error}')
            | 錯誤的使用者帳號以及密碼
          .bg-danger(th:if='${param.logout}')
            | 你已經登出了
          form.form-signin(th:action='@{/login}', method='post')
            h2.form-signin-heading 麻煩請登入
            .form-group
              label.sr-only(for='username') 使用者帳號
              input#username.form-control(type='text', placeholder='Username', name='username', required='required', autofocus='autofocus')
            .form-group
              label.sr-only(for='password') 使用者密碼
              input#password.form-control(type='password', placeholder='Password', name='password', required='required')
            button.btn.btn-lg.btn-primary.btn-block(type='submit')
              | 登入
    div(th:replace='common/header :: body-bottom-scripts')/
